/* Univerals and page setup */


html {
  font-size: 16px;
  font-family: Helvetica;
  /* font-family: 'Libre Baskerville', serif; */
}

header {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 960px;
  z-index: 5;
  background-color: white;
}

.pagecontainer {
  display: flex;


  justify-content: center;
  /* border: 1px solid red; */
}

.sitecontainer {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  max-width: 960px;
  height: auto;
  padding-top: 4rem;
  /* border: 2px solid black; */

}

/* logo and nav containers */

.logocontainer {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 1rem;

}
.logocontainer img {
  height: 3rem;
  width: auto;
  padding-top: .5rem;

}

.logotext {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 2px;
  border-top: 3px solid #73173e;
  border-bottom: 3px solid #73173e;


}

.colmar {
  color: #bebbbb;
  font-size: 1.5rem;
}

.academy {
  color: #73173e;

}

.navcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}

.navcontainer a {
  text-decoration: none;
  letter-spacing: 1.5px;
  color: black;
  font-weight: 600;
}

nav {
  text-align: center;
}

nav ul li {
display: inline-flex;
align-items: center;
justify-content: center;
height: 4rem;
border-right: 16px solid #73173e;
padding-right: 0.5rem;
padding-left: 0.5rem;
}

nav ul li:last-child {
  border: none;
  padding-right: 1.5rem;
}

/* Hero container */


.herocontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 27rem;
  width: 100%;
  min-width: 100%;
  background-color: #73173e;
  /* border: 2px solid pink; */
}

.heroimage {
  display: flex;
  width: 60%;
  height: auto;
  /* border: 1px solid orange; */
}
.heroimage img {
  width: 100%;
  padding: 2rem 1.5rem;
  height: auto;



}
.herotext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 27rem;
  width: 30%;
  /* border: 1px solid purple; */
  margin-left: -6rem;

}
.herotext h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #bebbbb;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
.herotext h2 {
  font-size: 1.5rem;
  color:  #bebbbb;
  margin-bottom: 1rem;
  /* text-shadow: 4px 4px 2px rgba(0, 0, 0, 1); */
}

.herobutton {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
  background-color: black;
  color: #bebbbb;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 3rem;
  border-radius: 5px 5px 5px 5px;
  box-shadow: .8px .8px darkgray;

}
.herobutton a {
  text-decoration: none;
  color: #bebbbb;
  font-weight: 600;
  letter-spacing: 1.5px;
}


/* Information Container */


.information {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 29.8rem;
  width: 60%;
  min-width: 100%;
  background-color: #bebbbb;
  /* margin-bottom: 2rem; */
  /* padding-bottom: 2rem; */
  /* background-color: rgba(115, 23, 62, .8); */
  /* border: 2px solid pink; */
}

.infoimg-large {
  display: flex;
  width: 60%;
  height: auto;
  /* border: 1px solid orange; */
}
.infoimg-large img {
  width: 100%;
  padding: 2rem 1.5rem;
  height: 20rem;
  /* border: 2px dotted white; */



}
.infotext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 60%;
  /* border: 1px solid purple; */
  /* margin-left: -6rem; */
  /* padding: 0rem 1.5rem; */

}
.infotext h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #black;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);

}
.infotext h2 {
  font-weight: normal;
  font-size: 1rem;
  color:  black;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-left: 1.5rem;

}
.infotext span {
  color: black;
  font-size: .8rem;
  margin-left: 1.5rem;
  /* padding-bottom: 2rem; */

}

/* second information column */


.infoimg-small {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 40%;
  height: auto;
  background-color: rgba(115, 23, 62, .2);


}

.infoimg-small img {
  width: 35%;
  height: auto;


}

.infoimg-small-text {
  width: 60%;
  /* border: 1px solid black; */
}

.infoimg-small-text h1 {
font-weight: bold;
margin-bottom: 8px;

}
.infoimg-small-text h2 {
  font-size: .8rem;
  margin-bottom: 8px;
}
.infoimg-small-text a {
  text-decoration: none;
  color: rgba(115, 23, 62, 1)
}
.infowrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;

}
.infowrapper img {
  width: 35%;
  height: auto;
  padding-left: 1rem;
  /* padding-left: 1rem;
  padding-top: 1rem; */


}
.infowrapper.one img {
  padding-top: 2rem;
  padding-right: 1rem;
}
.infowrapper.two img {
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
.infowrapper.three img {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;

}
.infowrapper.three {
  background-color: white;
}
.infowrapper.one h1 {
  padding-top: 2rem;
}
.infowrapper.two h1 {
  padding-top: 1.4rem;
}

/* Course Section */

.coursewrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100%;
  background-color: rgba(115, 23, 62, .1);
  /* border: 1px solid pink; */
}
.courseheader {
  width: 100%;
  min-width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: #black;
  /* text-shadow: 2px 2px 2px rgba(115, 23, 62, .5); */
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 1);
  text-align: center;

}
/* .coursewrapper h1{
  width: 100%;
  min-width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: #black;
  text-shadow: 2px 2px 2px rgba(115, 23, 62, .5);
  text-align: center;

} */
.coursecontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  /* height: 32.5rem; */
  height: 33.5rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  /* border: 5px solid black; */
  /* background-color: rgba(0, 0, 0, .8); */
}
.courseitem {
  display: flex;
  flex-direction: column;
  /* border: 1px solid purple; */
  width: 30%;
  height: auto;
  background-color: white;

}
.courseitem img {
  width: 100%;
  height: auto;
  padding-bottom: 1rem;


}
.courseitemtext {
  /* display: flex; */
  width: 100%;
  /* border: 1px solid black; */

}

.courseitem h1 {
  font-weight: bold;
  margin-bottom: .5rem;

}
.courseitem.one {
  padding-bottom: .75rem;
  margin-bottom: 1rem;
}
.courseitem.two {
  margin-bottom: 1rem;
}
.courseitem.three {
  padding-bottom: .75rem;
  margin-bottom: 1rem;
}
.courseitem h2 {
  padding-bottom: .5rem;
  font-weight: 500;
  font-size: .8rem;
  text-transform: uppercase;

}
.courseitem h3 {
  font-size: 0.8rem;
  padding-bottom: 1.5rem;

}
.One {
  order: 1;



}
.two {
  order: 3;

}
.three {
  order: 5;

}
.four {
order: 2;
}
.five {
  order: 4;

}
.six {
  order: 6;

}
