/* Univerals and page setup */


html {
  font-size: 16px;
  font-family: Helvetica;
  -webkit-text-size-adjust: 100%;
  /* font-family: 'Libre Baskerville', serif; */
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Merriweather', serif;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 960px;
  z-index: 5;
  background-color: white;
}
.mobileheader {
  display:none;
}

.pagecontainer {
  display: flex;
  justify-content: center;

}

.sitecontainer {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  max-width: 960px;
  height: auto;
  padding-top: 4rem;


}

/* logo and nav containers */

.logocontainer {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 1rem;

}
.logocontainer img {
  height: auto;
  width: 100%;
  padding-top: .5rem;

}

.logotext {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 2px;
  border-top: 3px solid #73173e;
  border-bottom: 3px solid #73173e;


}

.colmar {
  color: #bebbbb;
  font-size: 1.5rem;
}

.academy {
  color: #73173e;

}

.navcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}

.navcontainer a {
  text-decoration: none;
  letter-spacing: 1.5px;
  color: black;
  font-weight: 600;
}

nav {
  text-align: center;
}

nav ul li {
display: inline-flex;
align-items: center;
justify-content: center;
height: 4rem;
border-right: 16px solid #73173e;
padding-right: 0.5rem;
padding-left: 0.5rem;
}

nav ul li:last-child {
  border: none;
  padding-right: 1.5rem;
}

/* Hero container */


.herocontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 27rem;
  width: 100%;
  min-width: 100%;
  background-color: #73173e;

}

.heroimage {
  display: flex;
  width: 60%;
  height: auto;

}
.heroimage img {
  width: 100%;
  padding: 2rem 1.5rem;
  height: auto;



}
.herotext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 27rem;
  width: 30%;
  margin-left: -6rem;

}
.herotext h1 {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(255, 255, 255, .9);
  margin-bottom: 1rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
.herotext h2 {
  font-size: 1.5rem;
  color:  #bebbbb;
  margin-bottom: 1rem;

}

.herobutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #bebbbb;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 3rem;
  border-radius: 5px 5px 5px 5px;
  box-shadow: .8px .8px darkgray;

}
.herobutton a {
  text-decoration: none;
  color: rgba(255, 255, 255, .9);
  font-weight: 600;
  letter-spacing: 1.5px;
}


/* Information Container */


.information {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 34.5rem;
  width: 60%;
  min-width: 100%;
  background-color: #bebbbb;

}

.infoimg-large {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;

}
.infoimg-large img {
  width: 100%;
  padding: 2rem 1.5rem;
  height: auto;




}
.infotext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 100%;


}
.infotext h1 {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);

}
.infotext h2 {
  font-weight: normal;
  font-size: 1rem;
  color:  black;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-left: 1.5rem;

}
.infotext span {
  color: black;
  font-size: .8rem;
  margin-left: 1.5rem;
  padding-bottom: 2rem;

}

/* second information column */


.infoimg-small {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 40%;
  height: auto;
  background-color: rgba(115, 23, 62, .2);


}
.infoimg-smallmobile {
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 40%;
  height: auto;
  background-color: rgba(115, 23, 62, .2);

}

.infoimg-small img {
  width: 35%;
  height: auto;


}

.infoimg-small-text {
  width: 60%;

}

.infoimg-small-text h1 {
font-weight: bold;
margin-bottom: 8px;

}
.infoimg-small-text h2 {
  font-size: .8rem;
  margin-bottom: 8px;
}
.infoimg-small-text a {
  text-decoration: none;
  color: rgba(115, 23, 62, 1);
}
.infowrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;

}
.infowrapper img {
  width: 35%;
  height: auto;
  padding-left: 1rem;



}
.infowrapper.one img {
  padding-top: 2rem;
  padding-right: 1rem;
}
.infowrapper.two img {
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
.infowrapper.three img {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;

}
.infowrapper.three {
  background-color: white;
}
.infowrapper.one h1 {
padding-top: 2rem;
color: rgba(0, 0, 0, 1);


}
.infowrapper.two h1 {
  padding-top: 1.4rem;
}

/* Course Section */

.coursewrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  min-width: 100%;
  background-color: rgba(115, 23, 62, .1);

}
.courseheader {
  width: 100%;
  min-width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 1);
  text-align: center;

}

.coursecontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 33.5rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;

}
.courseitem {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  background-color: white;

}
.courseitem img {
  width: 100%;
  height: auto;
  padding-bottom: 1rem;


}
.courseitemtext {
  width: 100%;


}

.courseitem h1 {
  font-weight: bold;
  margin-bottom: .5rem;

}
.courseitem.one {
  padding-bottom: .75rem;
  margin-bottom: 1rem;
}
.courseitem.two {
  margin-bottom: 1rem;
}
.courseitem.three {
  padding-bottom: .75rem;
  margin-bottom: 1rem;
}
.courseitem h2 {
  padding-bottom: .5rem;
  font-weight: 500;
  font-size: .8rem;
  text-transform: uppercase;

}
.courseitem h3 {
  font-size: 0.8rem;
  padding-bottom: 1.5rem;

}
.One {
  order: 1;



}
.two {
  order: 3;

}
.three {
  order: 5;

}
.four {
order: 2;
}
.five {
  order: 4;

}
.six {
  order: 6;

}

/* Thesis Section */

.thesis {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 30rem;
  width: 60%;
  min-width: 100%;
  background-color: #73173e;

}

.thesis-img-large {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;

}
.thesis-img-large video {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  object-fit: fill;
  height: auto;




}
.thesis-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 100%;


}
.thesis-text h1 {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(255, 255, 255, .9);
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  margin-left: 1.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);

}
.thesis-text h2 {
  font-weight: normal;
  font-size: 1rem;
  color:  #bebbbb;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-left: 1.5rem;

}
.thesis-text span {
  color: black;
  font-size: .8rem;
  margin-left: 1.5rem;
  padding-bottom: 2rem;

}

/* second thesis column */


.thesis-img-small {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 40%;
  height: auto;
  background-color: rgba(115, 23, 62, .2);



}
.thesis-header {
  width: 100%;
  min-width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: #73173e;
  color: rgba(255, 255, 255, .9);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  text-align: center;

}

.thesis-img-small img {
  width: 35%;
  height: auto;


}

.thesis-img-small-text {
  width: 60%;

}

.thesis-img-small-text h1 {
font-weight: bold;
margin-bottom: 8px;

}
.thesis-img-small-text h2 {

  font-size: .8rem;
  margin-bottom: 8px;
}

.thesis-img-small-text a {
  text-decoration: none;
  color: rgba(115, 23, 62, 1);
}

.thesis-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;

}

.thesis-wrapper img {
  width: 35%;
  height: auto;
  padding-left: 1rem;

}

.thesis-wrapper.thesis-one img {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.thesis-wrapper.thesis-two img {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;

}

.thesis-wrapper.thesis-three img {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;

}

.thesis-wrapper.thesis-three {
  background-color: white;
}

.thesis-wrapper.thesis-one h1 {
 padding-top: 2rem;
 color:  #bebbbb;


}

.thesis-wrapper.thesis-two h1 {
  padding-top: 1.4rem;
}

.thesis-wrapper.thesis-two {
  background-color: white;
}
.thesis-one {
  color:  #bebbbb;




}
.thesis-two {




}
.thesis-three {


}

/* Footer Section */

Footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: white;
  height: 5rem;
  width: 100%;
  font-size: .8rem;
}
.footernav li {
  display: inline-block;
}
.footernav li a {
  text-decoration: none;
  color: rgba(115, 23, 62, 1);
}
@media only screen and (min-width: 1600px) {
  header {
    width: 100%;
  }
  .sitecontainer {
    width: 100%;
    max-width: 100%;
  }
  .herocontainer {
    height: 50rem;
  }
.herotext {
  position: relative;
  top: 8rem;
}
h3.herobutton {
  height: 5rem;
}
  .information {
    height: 55rem;

  }
  .infotext h2 {
    margin-right: 1.5rem;
  }

  .coursecontainer {
    height: 50rem;

  }
  .courseitem.two h3 {
    padding-bottom: 2.2rem;
  }
  .courseitem.three {
    /* padding-bottom: 1.75rem; */
    margin-bottom: 0rem;
  }
  .courseitem.six {
    margin-top: 1rem;
  }
  .courseitem.six img {
    padding-top: 0rem;
  }
  .thesis {
    height: 50rem;
  }


}
/* @media only screen and (max-width: 980px) {
  header {
    width: 85%;
  }
} */
@media only screen and (max-width: 910px) {
  .sitecontainer {
  width: 100%;
  max-width: 100%;
}

/* Header and nav */

  header {
    width: 100%;
}
.logocontainer {
  display: none;
}
.navcontainer {
  display: none;
}
  .mobileheader {
  display: flex;
  flex: 1;
  height: 4rem;

  width: 100%;
  /* border: 1px solid black; */
  padding-left: 2rem;
  padding-right: 2rem;
}
.mobileheaderimages {
  display: flex;
  /* flex: 1 ; */
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

/* Hero Section */

.herocontainer {
  height: auto;
  min-height: 18%;
  flex-wrap: nowrap;


}
.heroimage {
  width: 100%;
}
.heroimage img {
  padding: 0rem;
  width: 100%;
  height: 10%;
}
.herotext {
  width: 100%;
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: flex-start;
  margin-left: 0rem;
}
.herotext h2 {
  margin-bottom: 1.5rem;
}
.herobutton {
  margin-bottom: 0rem;

  min-height: 3rem;
}

/* information section */
.information {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: auto;
  width: 100%;
  min-width: 100%;
  background-color: white;

}
.infoimg-large {
  display: none;
}
.infotext {
  display: none;
}
.infoimg-small {
  display: none;
}
.infoimg-smallmobile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 30%;
  /* background-color: rgba(115, 23, 62, .2); */

}
.infowrapper img {
  width: 100%;
  height: auto;
  padding-left: 1rem;
  /* margin-bottom: 0rem; */




}
.infowrapper.two img {
 padding-top: 1rem;
}
.infoimg-small-text {
  width: 100%;
  height: auto;

}
.infoimg-small-text h1 {
font-weight: bold;
margin: 0;
padding-left: 1rem;
padding-bottom: .5rem;
/* margin-bottom: 8px; */

}
.infoimg-small-text h2 {
  font-size: .8rem;
  margin: 0;
  padding-left: 1rem;
  padding-bottom: .5rem;
  /* margin-bottom: 8px; */
}
.infoimg-small-text h3 {
  text-decoration: none;
  color: rgba(115, 23, 62, 1);
  padding-left: 1rem;
  padding-bottom: 2rem;
}
.infowrapper.one {
  /* border: 1px solid black; */
background-color: white;
}
.infowrapper.three .infoimg-small-text h3 {
  padding-bottom: 3rem;

}
.infowrapper.three .infoimg-small-text h1 {
  padding-top: 1.5rem;

}
.infowrapper.one h1 {
    padding-top: 2.5rem;
  }

/* Course Section */

.coursecontainer {
  width: 100%;
  height: auto;
}
.courseitem {
  width: 100%;
  height: 3rem;

}
.courseitem h1 {
  padding-left: 1rem;
  padding-top: 1rem;
  margin-bottom: 1.5rem;
}


.courseitem.one img {
  display: none;
}
.courseitem.two img {
  display: none;
}
.courseitem.three img {
  display: none;
}
.courseitem.four img {
  display: none;
}
.courseitem.five img {
  display: none;
}
.courseitem.six img {
  display: none;
}
.courseitemtext h2 {
  display: none;
}
.courseitemtext h3 {
  display: none;
}
.courseitem.one {

  padding-bottom: .5rem;
  margin-bottom: 1rem;
}
.courseitem.two {
  padding-bottom: .5rem;
  margin-bottom: 1rem;
}
.courseitem.three {
  padding-bottom: .75rem;
  margin-bottom: 1rem;
}
.courseitem.one {

  padding-bottom: .5rem;
  margin-bottom: 1rem;
}
.courseitem.two {
  padding-bottom: .5rem;
  margin-bottom: 1rem;
}
.courseitem.three {
  padding-bottom: .75rem;
  margin-bottom: 1rem;
}
.courseitem.one {

  padding-bottom: .5rem;
  margin-bottom: 1rem;
}
.courseitem.two {
  padding-bottom: .5rem;
  margin-bottom: 1rem;
}
.courseitem.three {
  padding-bottom: .5rem;
  margin-bottom: 1rem;
}
.courseitem.four {

  padding-bottom: .5rem;
  margin-bottom: 1rem;
}
.courseitem.five {
  padding-bottom: .5rem;
  margin-bottom: 1rem;
}
.courseitem.six {
  padding-bottom: .5rem;
  margin-bottom: 2rem;
}

/* Thesis Section */
.thesis {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: auto;
  width: 100%;
  min-width: 100%;
  background-color: #73173e;

}
.thesis-text {
  display: none;
}
.thesis-img-small {
  display: none;
}
.thesis-img-large {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

}
.thesis-img-large video {
  width: 100%;
  height: auto;
  padding-left: 0rem;
  padding-right: 0rem;
  margin-bottom: 1.5rem;
  object-fit: fill;
}
.thesis-header {
  width: 100%;
  min-width: 100%;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: #73173e;
  color: rgba(255, 255, 255, .9);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  text-align: center;

}

Footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: white;
  height: 3rem;
  width: 100%;
  font-size: .8rem;
}
.footernav {
  display: none;
}



}
